.container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .8rem;

  .avatar{
    width: 40px;
    height: 40px;
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }
}