.container {
  width: 100vw;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);

  .sidenav-content {
    display: flex;
    height: 100%;
    justify-content: center;

    .spacer {
      flex: 1 1 auto;
    }
  }
  
  .sidenav {
    padding: 20px;
  }
}
